{% extends "page.html" %}
{% from '_macros.html' import select, radio %}
{% block centercol %}

{% if action == 'list' %}
<h2>{{ _('faqs') }}</h2>
<div class="content">
    {% if items['show_count'] > 0 %}
    <div class="search-result">{{ _('show-from') }} {{ pager.start + 1 }} {{ _('show-to') }} {{ items['show_count'] }} {{ _('show-fromall') }} {{ items['items_count'] }}</div>
    <table class="items-list clinics-list">
        {% for item in items['items'] %}
        <tr>
            <td class="info">
                <a href="/qa/show/{{ item['id'] }}" class="title">{{ item['question'] }}</a>
                <span class="adv-info">{{ item['created']|date("%d m %Y %H:%M:%S") }},
                    {{ _('user') }}: {{ item['fio'] }},
                    {{ _('qa-answers-count') }}: {{ item['answers_count']|default(0) }}
                </span>
                <p>{{ item['description'] }}</p>
            </td>
        </tr>
        {% endfor %}
     </table>
     <div class="pager">
        {% for page, index in pages %}
        {% if pager.current_page == page %}
        <span>{{ page }}</span>
        {% else %}
        <a href="?st={{ index }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
        <p class="no-rows">{{ _('clinics-no-rows') }}</p>
    {% endif %}
</div>

{% elif action == 'show' %}
    <h2>{{ item['question']|truncate(50) }} &mdash; {{ _('faqs') }}</h2>
    <div class="item-show" class="content">
        <p class="item-descr">{{ item['description'] }}</p>
        {% if answers['show_count'] > 0 %}
        <ul class="qa-answers">
        {% for answer in answers['items'] %}
        <li>
            <div class="avatar">{%if answer['avatar']%}<img src="/u/{{ answer['avatar'] }}" alt="" />{%else%}<img src="/i/no-photo.png" alt="" />{%endif%}</div>
            <a href="/user/{{ answer['username'] }}/profile" class="user">{{ answer['user'] }}</a>
            <div class="rating">
                <a href="#" onclick="return addQARating(this, {{ answer['id'] }}, 'pos');" class="pos">+{{ answer['rating_pos'] }}</a> /
                <a href="#" onclick="return addQARating(this, {{ answer['id'] }}, 'neg');"class="neg">-{{ answer['rating_neg'] }}</a>
            </div>
            <span class="info">{{ answer['created']|date("%d m %Y %H:%M:%S") }}</span>
            <p>{{ answer['answer'] }}</p>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <p class="qa-no-rows">{{ _('qa-no-rows') }}</p>
        {% endif %}
        {% if User.logined and not item['closed'] %}
        <form action="?act=add-answer" method="post" class="qa-answer-form">
            <h3>{{ _('qa-answer-add') }}</h3>
            <textarea name="answer" cols="70" rows="5"></textarea><br />
            <input type="submit" value="{{ _('send') }}" class="btn" />
        </form>
        {% endif %}
    </div>
{% endif %}

{% endblock %}