html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset,img {
    border:0;
}
table, tr, td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
abbr,acronym { border:0;
}

a { color: #7B2E00; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
a:visited {  }


/* MAIN
-----------------------------------------------------------------*/
html {
    font-size: 62.5%;
    background: #FFF url(../i/bg_navbar.gif) repeat-x;
    height: 100%;
}

body	{
    position: relative;
    font-size: 112%;
    color: #544741;
    background: url(../i/bg_body_btm.jpg) repeat-x bottom;
    height: auto;
    min-height: 100%;
}

#navbar {
    background: #4A4338 url(../i/bg_navbar.gif) repeat-x;
    border-bottom: #fff 1px solid;
    height: 26px;
    padding-top: 8px;
    color: #FFFFFF;
    width: 955px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
}
#navbar a {
    color: #FFEB5E;
    font-size: 110%;
    font-style: italic;
    line-height: 19px;
}

#search {
    float: left;
    width: 130px;
    height: 19px;
    background: url(../i/bg_search.gif) no-repeat;
}
#search_submit {
    cursor: pointer;
    width: 20px;
    height: 19px;
    background: none;
    border: #fff 0px solid;
    vertical-align: middle;
}
#search_text {
    width: 87px;
    padding: 0;
    /*color: #C5C0C5;*/
    color: #000;
    font-size: 100%;
    background: none;
    vertical-align: middle;
    border: #fff 0px solid;
    outline: none;
}
#search a.cancel {
    display: inline-block;
    width: 16px;
    height: 18px;
    vertical-align:bottom;
}

#navbar .menu {
    margin-left: 145px;
}
#navbar .menu li {
    float: left;
    margin-right: 20px;
}

#auth {
    float: right;
    padding: 0 8px;
}
#auth a.enter {
    font-style: normal;
    color: #fff;
    font-size: 150%;
    display: inline-block;
    margin-top: -3px;
    padding-left: 20px;
    background: url(../i/bg_auth.gif) no-repeat left 2px;
    text-decoration: none;
}
#auth a.enter span {
    border-bottom: #fff 1px dotted;
}


#auth a.cabinet	{
    margin-right:20px;
}
#header {
    height: 171px;
    width: 955px;
    padding-top: 13px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
#logo {
    position: absolute;
    left: 0px;
    top: 54px;
}

#topMenu {
    position: absolute;
    right: 0px;
    top: 116px;
    background: url(../i/bg_topmenu.png) no-repeat;
    width: 794px;
    height: 34px;
    padding-left: 10px;
}
#topMenu li {
    float: left;
    font-size: 110%;
    font-weight: 700;
    text-transform: uppercase;
    background: url(../i/bg_topmenu_item.gif) no-repeat right;
}
#topMenu li a {
    line-height: 34px;
    padding: 0 9px 0 8px;
    color: #362F2D;
    display: block;
}
#topMenu li a:hover {
    color: #000;
}
#topMenu li.active {
    background: url(../i/bg_topmenu_sel.png) no-repeat top left;
}
#topMenu li.active a {
    background: url(../i/bg_topmenu_sel.png) no-repeat bottom right;
}


/* == content == */


.logoCompany {
    margin-bottom: 20px;
}

#main {
    width: 955px; margin: 0 auto;
}

#main .crumbs {
    padding-bottom: 3px;
    font-size: 110%;
}

#main #leftcol {
    width: 653px;
}
#main #rightcol {
    float: right;
    width: 244px;
}

/* == footer == */
#prefooter {
    clear: both;
    height: 196px;
    width: 100%
}
#footer { width: 955px; margin: 0 auto; border-top: solid 1px #ccc; padding: 12px 0 20px ; }
#footrights { float: left; width: 200px; line-height: 25px }
#footmenu { float: left; }
#footmenu dl { float: left; margin-right: 30px; }
#footmenu dl dt	{ color: #565656; font-weight: bold; margin-bottom: 5px; }
#footmenu dl dd	{ padding: 3px 0; }
#footmenu dl dd	{ color: #003399; }