<html>
<head>
    <meta http-equiv=«Content-Type» content=«text/html; charset=utf-8»>
</head>
<body>
<div style="width: 100%; padding: 20px 0; background-color:#ededed; color:#737373;">
    <table align="center" width="540" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="200"><a href="http://petsnet.in.ua/" target="_blank"><img src="http://petsnet.in.ua/static/img/logo.png" width="199" alt="Petsnet" /></td>
            <td colspan="2" style="font-size: 16px; font-weight: bold; padding-left: 30px">Социальная сеть для владельцев домашних животных</td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="padding: 10px 20px; background: #fff">
                    <h2>Уважаемый владелец клиники {{ item.name }}!</h2>
                    <p>Меня зовут Анна, я редактор интернет-каталога <a href="http://petsnet.in.ua/" target="_blank">Petsnet</a> &mdash; сообщества владельцев домашних животных.</p>
                    <p>Мы планируем создать общий каталог всех ветеринарных клиник в Украине и просим Вас ознакомиться с информацией о Вашей клинике, которая доступна на нашем сайте по <a href="http://petsnet.in.ua{{ item.url }}" target="_blank">ссылке</a>.</p>
                    <p>Мы также просим прислать нам обновленную информацию о Вашей клинике:</p>
                    <ul>
                    <li>полное название клиники</li>
                    <li>адреса и контактные телефоны</li>
                    <li>список услуг клиники (возможно, с описанием услуг и преимуществ предоставления услуг в Вашей клинике)</li>
                    <li>небольшое описание клиники (история создания, достижения, цели)</li>
                    <li>ссылку на веб-сайт</li>
                    <li>небольшой текст про специалистов в Вашей клинике (Желательно с фото)</li>
                    <li>несколько фотографий про Вашу клинику</li>
                    </ul>
                    <p>Вся информация будет обработана и размещена у нас в каталоге и доступна для наших пользователей.</p>
                    <p>&nbsp;</p>
                    <p>В приложении Вы сможете найти небольшую анкету, которая поможет Вам ответить на интересующие нас вопросы.</p>
                </div>
            <td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                <b>Petsnet</b><br />
                <a href="http://petsnet.in.ua" target="_blank">www.petsnet.in.ua</a><br />
                <a href="mailto:info@petsnet.in.ua" target="_blank">info@petsnet.in.ua</a>
            </td>
            <td colspan="2" style="padding: 20px; text-align: left; font-size: 10px">Вы получили это письмо, поскольку ваш адрес был указан в каталоге Petsnet</td>
    </table>
<div>
</body>
</html>