#header .searchForm {
margin: -5px 0 0 244px;
}
.contentBlock .headBlock div{
margin: -16px -2px 15px 0;
}
.newUsers .link, .contentBlock .preview, .bottomButton{
zoom: 100%;
}
#header .signBlock{
width: 190px;
}

