{% extends "base.html" %}

{% block title %}{{ item.name }} - {{ _('nurseries') }} &mdash; PetsNet - социальная сеть для владельцев домашних животных{% endblock %}
{% block main %}
<div class="navigation">
    <div class="navigationBorder">
        <div class="navigationInner">
            <a href="/">Главная</a>
            <a href="/clinics/">{{ _('nurseries') }}</a>
            <span>{{ item.name }}</span>
        </div>
    </div>
</div>
<div id="content">
    <div id="mainLeft">
        <div class="contentBlock clinicInfo">
            <div class="headBlock">
					{{ item.name }}
                <a class="toFav" href="#"></a>
            </div>
            <div class="inner">
                <div class="imagesBlock">
                    <div class="image">
                        &nbsp;<img align="middle" src="/media/{% if item.image %}{{ item.images.0.image.image2 }}{% else %}no-photo.png{% endif %}" alt="Питомник {{ item.name }}" />                        
                    </div>
                    {% if item.images_list %}
                    <div class="carouselWrapper">
                        <div class="carousel">
                            <ul>
                                {% for img in item.images_list %}
                                <li><a href="/media/{{ img.image.image2 }}"><img src="/media/{{ img.image.image1 }}" alt="" /></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <span class="carouseleBack"></span>
                        <span class="carouseleNext"></span>
                    </div>
                    {% endif %}
                </div>
                <div class="info">
                    <div class="address">{{ item.region }} {{ item.address }}</div>
                    <a class="showOnMap" href="#" rel="{{ item.region.name }} {{ item.address }}">посмотреть на карте</a><br />
                    <ul class="workHours">
                        <li>{{ item.working_hours }}</li>
                        {% for phone in item.phones_list %}<li>{{ phone }}</li>{% endfor %}
                        {% if item.email %}<li>{{ item.email }}</li>{% endif %}
                        {% if item.website %}<li><a href="{{ item.website }}" rel="nofollow" target="_blank">перейти на сайт</a></li>{% endif %}
                        {% if item.system %}<li>{{ item.system }}</li>{% endif %}
                    </ul>
                    <ul class="workHours">
                        {% for breed in item.breeds.all %}
                        <li>{{ breed.name }}</li>
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                    <div class="ratingBlock">
                        <a href="#comments">Отзывы ({{ comments.count }})</a>
                        <span class="clear"></span>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="textBlock">{{ item.description|safe }}</div>
            </div>
            <br />
            <div class="tabs">
                <a class="active" href="#" rel="#about">О питомнике</a>
                <a href="#" rel="#news">Новости	</a>
                <a href="#" rel="#comments">Отзывы ({{ comments.count }})</a>
            </div>
            <div class="inner tabsInner">
                <div id="about" class="tabsContent">{{ item.about|safe }}</div>
                <div id="news" class="tabsContent">Новости</div>
                <div id="comments" class="tabsContent">
                    {% include "blocks/comments.html" %}
                </div>
            </div>
        </div>
    </div>
    <div id="mainRight">
        {% include "blocks/user-cabinet.html" %}
        <div class="rightBanner">
            {% banner "clinics-right" %}
        </div>
        {% include "blocks/social.html" %}
    </div>
    <div class="clear"></div>
    <div class="banner">{% banner "site-bottom" %}</div>
</div>
{% endblock %}