{% extends "base.html" %}

{% block main %}
    <div id="leftcol">
        {% include "users/user-menu.html" %}
        <div class="box borders">
            <h2>{{ _('search-by-params') }}</h2>
            <form action="?" method="get" class="filteritems">
                <label>{{ _('im-search') }}</label>
                <input type="text" name="q" value="{{ filter.q }}" class="txt" />
                <label>{{ _('region') }}</label>
                <input type="text" name="region" id="region" class="txt" value="{{ filter.region }}" />
                <input type="hidden" name="region_id" id="region_id" value="0" class="txt" />
                <span class="clear"></span>
                <label>{{ _('breed') }}</label>
                <input type="text" name="breed" id="breed" class="txt" value="{{ filter.breed }}" />
                <input type="hidden" name="breed_id" id="breed_id" value="0" class="txt" />
                <span class="clear"></span>
                <label>{{ _('age') }}</label>
                <input type="text" name="age__lte" value="{{ filter.age__lte }}" class="txt" size="6" /> &mdash;
                <input type="text" name="age__gte" value="{{ filter.age__gte }}" class="txt" size="6" />
                <span class="clear"></span>
                <input type="submit" value="{{ _('search') }}" class="btn" />
            </form>
            <script type="text/javascript">
            bindAutoComplite("#region", "/ajax/get-cities", "#region_id");
            bindAutoComplite("#breed", "/ajax/get-breeds", "#breed_id");
            </script>
        </div>
    </div>
    <div id="rightcol">
        <object id="ar_flash_1" height="500" width="300" type="application/x-shockwave-flash" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param value="http://un1.adriver.ru/images/0001183/0001183338/0/300x500.swf" name="movie">
<param value="true" name="play">
<param value="opaque" name="wmode">
<param value="true" name="loop">
<param value="high" name="quality">
<param value="false" name="menu">
<param value="always" name="allowScriptAccess">
<param value="link1=http%3A//ad.adriver.ru/cgi-bin/click.cgi%3Fsid%3D1%26ad%3D280635%26bid%3D1183338%26bt%3D43%26bn%3D1183338%26pz%3D0%26nid%3D0%26ref%3Dhttp%3A%252f%252fwww.lookatme.ru%252f%26custom%3D%26rleurl%3D&target=_blank&ar_comppath=http%3A//un1.adriver.ru/images/0001183/0001183338/0/&ar_pass=&ar_bid=1183338&ar_bt=43&ar_ad=280635&ar_nid=0&ar_rnd=362031320&ar_ntype=0&ar_sliceid=0&ar_sid=1" name="flashvars">
<embed height="500" width="240" type="application/x-shockwave-flash" menu="false" quality="high" loop="true" play="true" allowscriptaccess="always" wmode="opaque" flashvars="link1=http%3A//ad.adriver.ru/cgi-bin/click.cgi%3Fsid%3D1%26ad%3D280635%26bid%3D1183338%26bt%3D43%26bn%3D1183338%26pz%3D0%26nid%3D0%26ref%3Dhttp%3A%252f%252fwww.lookatme.ru%252f%26custom%3D%26rleurl%3D&target=_blank&ar_comppath=http%3A//un1.adriver.ru/images/0001183/0001183338/0/&ar_pass=&ar_bid=1183338&ar_bt=43&ar_ad=280635&ar_nid=0&ar_rnd=362031320&ar_ntype=0&ar_sliceid=0&ar_sid=1" src="http://un1.adriver.ru/images/0001183/0001183338/0/300x500.swf">
</object>
        {% include "blocks/social.html" %}
    </div>
    <div id="centercol" class="borders">
        {% block centercol %}{% endblock %}
    </div>
{% endblock %}