{% extends "base.html" %}

{% block title %}{{ _('clinics') }} &mdash; PetsNet - Сообщество владельцев домашних животных{% endblock %}

{% block main %}
<div class="navigation">
    <div class="navigationBorder">
        <div class="navigationInner">
            <a href="/">Главная</a>
            <span>Каталог клиник</span>
        </div>
    </div>
</div>
<div id="content">
    <div id="mainLeft">
        <div class="contentBlock">
            <div class="headBlock">Поиск по клиникам</div>
            <form action="" method="get" class="inner search">
                <a class="showHide" href="#">Свернуть блок поиска</a>

                <div class="label">Название клиники:</div>
                <input class="searchClinic" type="text" name="search" />
                <div class="clear"></div>

                <div class="label">Укажите регион:</div>
                <div class="state">
                    <select id="searchState" name="region">
                        <option value="">Все регионы</option>
                        {% for region in regions %}<option value="{{ region.region_id }}"{% if filter.region == region.region_id %} selected{% endif %}>{{ region.region }}</option>{% endfor %}
                    </select>
                </div>
                <i class="sep">-</i>
                <div class="city">
                    <select id="searchCity" name="city">
                        <option value="0">Все города</option>
                        {% for city in cities %}<option value="{{ city.id }}"{% if filter.city == city.id %} selected{% endif %}>{{ city.city }}</option>{% endfor %}
                    </select>
                </div>
                <div class="clear"></div>

                <div class="label">Тип клиники:</div>
                <div class="checkboxs">
                    <div class="check">
                        <span class="checkbox">
                            <input type="checkbox" value="private" name="type">
                        </span>
                        <i class="checkLabel">Частная</i>
                        <div class="clear"></div>
                    </div>
                    <div class="check">
                        <span class="checkbox">
                            <input type="checkbox" value="state" name="type">
                        </span>
                        <i class="checkLabel">Государственная</i>
                        <div class="clear"></div>
                    </div>
                </div>
                
                <a href="#" class="bottomButton showPopup" rel="choiceServices">
                    <span class="text">Выбрать услуги</span>
                    <span class="icon"></span>
                </a>
                <div class="selectedServices">
                    <div>Вы выбрали услуги:</div>
                    <ul class="list">
                        {% for service in filter.services %}<li>{{ service.name }}</li>{% endfor %}
                    </ul>
                    <div class="hiddenCheck"></div>
                </div>

                <div class="clear"></div>

                <button type="submit" name="searchButton"></button>
                <div class="clear"></div>
            </form>
            <br />
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#searchState').change(function() {
                        $('#searchCity').load('/ajax/get-cities/?r='+$(this).val(), function() {
                            cuSelRefresh(params);
                        });
                    });
                })
            </script>

            <div class="headBlock">{{ _('clinics') }}</div>
            <div class="inner">
                <div class="cats">
                    <span>Сортировать:</span>
                    <a{% if filter.order_by == 'rating' %} class="active"{% endif %} href="?{{ url }}&sort=rating">По рейтингу</a>
                    <a{% if filter.order_by == 'name' %} class="active"{% endif %} href="?{{ url }}&sort=name">По имени</a>
                </div>
                {% for item in object_list %}
                <div class="preview items-list{% if forloop.last %} lastPreview{% endif %}">
                    <div class="link" href="{{ item.url }}">
                        <div class="image"><img src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="Клиника {{ item.name }}" /></div>
                        <div class="middle">
                            <a class="name" href="{{ item.url }}">{{ item.name }}</a>
                            {% if item.is_top %}<img align="top" src="/static/img/best_clinic.png" alt="{{ _('best') }}" />{% endif %}
                            {% if item.is_sale %}<img align="top" src="/static/img/sales_system.png" alt="{{ _('sale') }}" />{% endif %}
                            <div class="clear"></div>
                            <div class="address">{{ item.region }}, {{ item.address }}</div>
                            <div class="clear"></div>
                            {% if item.services.all %}
                            <ul>
                                {% for service in item.services.all %}
                                <li>{{ service }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <ul>
                                <li>Пн-Пт {{ item.working_hours }}</li>
                                <li>Суббота {% if item.working_hours_saturday %}{{ item.working_hours_saturday }}{% else %}не работает{% endif %}</li>
                                <li>Воскресение {% if item.working_hours_sanday %}{{ item.working_hours_sanday }}{% else %}не работает{% endif %}</li>
                            </ul>
                            <ul class="last">
                                {% for phone in item.phones_list %}<li>{{ phone }}</li>{% endfor %}
                                {% if item.email %}<li>{{ item.email }}</li>{% endif %}
                                {% if item.website %}<li>{{ item.website }}</li>{% endif %}
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="right">
                            <div class="ratingBlock">
                                <span class="rating"><span class="fill" style="width: {{ item.rating_percents }}%"></span></span>
                                <span class="grade">{{ item.rating }}/5</span>
                                <span class="clear"></span>
                            </div>
                            <ul>
                                <li><a href="{{ item.url }}#coworkers">Врачи</a></li>
                                <li><a href="{{ item.url }}#prices">Цены</a></li>
                                <li><a href="{{ item.url }}#services">Список услуг</a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                {% endfor %}
                {% if is_paginated %}{% include "blocks/paginator.html" %}{% endif %}
            </div>
        </div>
    </div>
    <div id="mainRight">
        {% include "blocks/user-cabinet.html" %}
        <div class="rightBanner">
            {% banner "clinics-right" %}
        </div>
        {% include "blocks/social.html" %}
    </div>
    <div class="clear"></div>
    <div class="banner">{% banner "site-bottom" %}</div>
</div>
{% endblock %}

{% block popup %}
<div id="mask"></div>
<div id="popup">
	<div id="popupInner">
		<div class="close"></div>
    	<div id="choiceServices">
			<div class="column">
                {% for service in all_services %}
				<div class="check">
					<span class="checkbox">
						<input type="checkbox" value="{{ service.id }}" name="service" {% if service in filter.services %} checked="checked"{% endif %}>
					</span>
					<i class="checkLabel">{{ service.name }}</i>
					<div class="clear"></div>
				</div>
                {% if forloop.counter|divisibleby:12 %}</div><div class="column">{% endif %}
                {% endfor %}
			</div>
			<div class="clear"></div>
			<a href="#"><span>Выбрать услуги</span></a>
		</div>
	</div>
</div>
{% endblock %}