{% extends "page.html" %}
{% block centercol %}
    {% if content['show_count'] > 1 %}
        <h2>{{  section  }}</h2>
        <div class="content">
            <ul class="content-list">
                {% for item in content['items'] %}
                <li>
                    <a href="{{  item.alias  }}"><h3>{{  item.title  }}</h3></a>
                    <p>{{  item.description  }}</p>
                    <span class="tags">{% for tag in item['tags'] %}<a href="?tag={{ tag }}">{{ tag }}</a>, {% endfor %}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="pager">
                {% for page, index in pages %}
                {% if pager.current_page == page %}
                <span>{{  page  }}</span>
                {% else %}
                <a href="?st={{  index  }}">{{  page  }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% elif content['show_count'] == 1 %}
        <h2>{{  content.title  }}</h2>
        <div class="content article-full">
            {{  content.body  }}
            <span class="tags"><b>{{ _('tags') }}</b>: {% for tag in content['tags'] %}<a href="?tag={{ tag }}">{{ tag }}</a>, {% endfor %}</span>
        </div>
    {% else %}
    <p class="no-rows">{{ _('content-no-rows') }}</p>
    {% endif %}
    
{% endblock %}
