{% extends "base.html" %}

{% block title %}{{ item.name }} - {{ _('pharmacies') }} &mdash; PetsNet - социальная сеть для владельцев домашних животных{% endblock %}
{% block main %}
<div class="navigation">
    <div class="navigationBorder">
        <div class="navigationInner">
            <a href="/">Главная</a>
            <a href="/clinics/">{{ _('pharmacies') }}</a>
            <span>{{ item.name }}</span>
        </div>
    </div>
</div>
<div id="content">
    <div id="mainLeft">
        <div class="contentBlock clinicInfo">
            <div class="headBlock">
					{{ item.name }}
                <a class="toFav" href="#"></a>
            </div>
            <div class="inner">
                <div class="imagesBlock">
                    <div class="image">
                        {% for img in item.images_list %}{% if forloop.first %}
                        &nbsp;<img align="middle" src="/static/{{ img.image.image2 }}" alt="Питомник {{ item.name }}" />
                        {% endif %}{% endfor %}
                    </div>
                    <div class="carouselWrapper">
                        <div class="carousel">
                            <ul>
                                {% for img in item.images_list %}
                                <li><a href="/static//u/{{ img.image.image2 }}"><img src="/static//u/{{ img.image.image1 }}" alt="" /></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <span class="carouseleBack"></span>
                        <span class="carouseleNext"></span>
                    </div>
                </div>
                <div class="info">
                    <div class="address">{{ item.region }} {{ item.address }}</div>
                    <a class="showOnMap" href="#" rel="{{ item.region.name }} {{ item.address }}">посмотреть на карте</a><br />
                    <ul class="contacts">
                        {% for phone in item.phones_list %}
                        <li>{{ phone }}</li>
                        {% endfor %}
                        <li><a href="#">{{ item.email }}</a></li>
                        <li><a href="http://{{ item.website }}">{{ item.website }}</a></li>
                    </ul>
                    <ul class="workHours">
                        <li>Пн-Пт {{ item.working_hours }}</li>
                        {% if item.working_hours_sartuday %}<li>Сб {{ item.working_hours_sartuday }}</li>{% endif %}
                        {% if item.working_hours_sanday %}<li>Вс {{ item.working_hours_sanday }}</li>{% endif %}
                    </ul>
                    <div class="clear"></div>
                    <div class="ratingBlock">
                        <a href="#">Отзывы (5)</a>
                        <span class="clear"></span>
                    </div>
                    {{ item.description|safe }}
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <div class="tabs">
                <a class="active" href="#" rel="#about">О питомнике</a>
                <a href="#" rel="#news">Новости	</a>
                <a href="#" rel="#comments">Отзывы</a>
            </div>
            <div class="inner tabsInner">
                <div id="about" class="tabsContent">{{ item.about|safe }}</div>
                <div id="news" class="tabsContent">Новости</div>
                <div id="comments" class="tabsContent">
                    {% include "blocks/comments.html" %}
                </div>
            </div>
        </div>
    </div>
    <div id="mainRight">
        {% include "blocks/user-cabinet.html" %}
        <div class="rightBanner">
            {% banner "clinics-right" %}
        </div>
        {% include "blocks/social.html" %}
    </div>
    <div class="clear"></div>
    <div class="banner">{% banner "site-bottom" %}</div>
</div>
{% endblock %}