<div class="userCab">
    <div class="name">Кнопик Плюшкин Пуговочкин</div>
    <form action="" method="" class="avatar" enctype="multipart/form-data">
        <img src="/static/img/no_avatar.jpg" alt="" />
        <input type="file" name="avatar" />
    </form>
    <ul class="userMenu">
        <li><a href="#">Мой профиль</a></li>
        <li><a href="#">Сообщения <span>12</span></a></li>
        <li><a href="#">Друзья</a></li>
        <li><a href="#">Мои объявления</a></li>
        <li><a href="#">Баланс</a></li>
        <li><a href="#">Мои настройки</a></li>
        <li><a href="#">Выход</a></li>
    </ul>
</div>