{% extends "base.html" %}

{% block title %}{{ item.name }} - {{ _('clinics') }} &mdash; PetsNet - социальная сеть для владельцев домашних животных{% endblock %}
{% block main %}
<div class="navigation">
    <div class="navigationBorder">
        <div class="navigationInner">
            <a href="/">Главная</a>
            <a href="/clinics/">{{ _('clinics') }}</a>
            <span>{{ item.name }}</span>
        </div>
    </div>
</div>
<div id="content">
    <div id="mainLeft">
        <div class="contentBlock clinicInfo">
            <div class="headBlock">
					{{ item.name }}
                <a class="toFav" href="#"></a>
                {% if item.is_top %}<img class="label" align="top" src="/static/img/best_clinic.png" alt="{{ _('best') }}" />{% endif %}
                {% if item.is_sale %}<img class="label" align="top" src="/static/img/sales_system.png" alt="{{ _('sale') }}" />{% endif %}
            </div>
            <div class="inner">
                <div class="imagesBlock">
                    <div class="image">
                        &nbsp;<img align="middle" src="/media/{% if item.image %}{{ img.image.image2 }}{% else %}no-photo.png{% endif %}" alt="Питомник {{ item.name }}" />                        
                    </div>
                    {% if item.images_list %}
                    <div class="carouselWrapper">
                        <div class="carousel">
                            <ul>
                                {% for img in item.images_list %}
                                <li><a href="/media/{{ img.image.image2 }}"><img src="/media/{{ img.image.image1 }}" alt="" /></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <span class="carouseleBack"></span>
                        <span class="carouseleNext"></span>
                    </div>
                    {% endif %}
                </div>
                <div class="info">
                    <div class="address">{{ item.region }} {{ item.address }}</div>
                    <a class="showOnMap" href="#" rel="{{ item.region.name }} {{ item.address }}">посмотреть на карте</a><br />
                    <ul class="workHours">
                        <li>Пн-Пт {{ item.working_hours }}</li>
                        {% if item.working_hours_sartuday %}<li>Сб {{ item.working_hours_sartuday }}</li>{% endif %}
                        {% if item.working_hours_sanday %}<li>Вс {{ item.working_hours_sanday }}</li>{% endif %}
                    </ul>
                    <ul class="contacts">
                        {% for phone in item.phones_list %}
                        <li>{{ phone }}</li>
                        {% endfor %}
                        {% if item.email %}<li><a href="#">{{ item.email }}</a></li>{% endif %}
                        {% if item.website %}<li><a href="{{ item.website }}">{{ item.website }}</a></li>{% endif %}
                    </ul>
                    <div class="clear"></div>
                    <div class="ratingBlock">
                        <span class="label">Рейтинг</span>
                        <span class="rating"><span class="fill" style="width: {{ item.rating_persents }}%"></span></span>
                        <span class="grade">{{ item.rating }}/5</span>
                        <a href="#comments">Отзывы ({{ comments.count }})</a>
                        <span class="clear"></span>
                    </div>
                    {{ item.description|safe }}
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <div class="tabs">
                <a class="active" href="#" rel="#services">Услуги</a>
                <a href="#" rel="#coworkers">Врачи</a>
                <a href="#" rel="#prices">Цены</a>
                <a href="#" rel="#news">Новости	</a>
                <a href="#" rel="#comments">Отзывы</a>
            </div>
            <div class="inner tabsInner">
                <div id="services" class="tabsContent show">
                    
                </div>
                <div id="docs" class="tabsContent">{{ item.coworkers|safe }}</div>
                <div id="prices" class="tabsContent">{{ item.prices|safe }}</div>
                <div id="news" class="tabsContent">Новости</div>
                <div id="comments" class="tabsContent">
                    {% include "blocks/comments.html" %}
                </div>
            </div>
        </div>
    </div>
    <div id="mainRight">
        {% include "blocks/user-cabinet.html" %}
        <div class="rightBanner">
            {% banner "clinics-right" %}
        </div>
        {% include "blocks/social.html" %}
    </div>
    <div class="clear"></div>
    <div class="banner">{% banner "site-bottom" %}</div>
</div>
{% endblock %}