{% extends "base.html" %}

{% block title %}{{ item.title }} - {{ _('news-list') }} &mdash; PetsNet - социальная сеть для владельцев домашних животных{% endblock %}
{% block main %}
<div class="navigation">
    <div class="navigationBorder">
        <div class="navigationInner">
            <a href="/">Главная</a>
            <a href="/clinics/">Каталог новостей</a>
            <span>{{ item.title }}</span>
        </div>
    </div>
</div>
<div id="content">
    <div id="mainLeft">
        <div class="contentBlock clinicInfo">
            <div class="headBlock">
					{{ item.title }}
                <a class="toFav" href="#"></a>
            </div>
            <div class="inner">
                <div class="info">
                    {{ item.body|safe }}
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <div class="tabs">
                <a class="active" href="#" rel="#comments">Отзывы</a>
            </div>
            <div class="inner tabsInner">
                <div id="comments" class="tabsContent show">
                    <a href="#" class="bottomButton">
                        <span class="text">Добавить отзыв</span>
                        <span class="icon"></span>
                    </a>
                    {% for comment in comments %}
                    <div class="comment{% if forloop.last %} lastComment{% endif %}">
                        <div class="date">{{ comment.created }}</div>
                        <div class="info">
                            <span class="name">{{ comment.user.name }}</span>
                            <span class="rating"><span class="fill" style="width: 100%;"></span></span>
                            <span class="grade">5/5</span>
                            <p>{{ comment.comment }}</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    {% endfor %}
                    {% include "blocks/comments_paginator.html" %}
                    {% if member.id %}
                    <div class="formWrapper">
                        <form action="" method="post">
                            <div class="head">Добавить отзыв</div>
                            <input type="text" name="name" value="Ваше имя" onfocus="if($(this).val() == 'Ваше имя') $(this).val('');" onblur="if($(this).val() == '') $(this).val('Ваше имя');" />
                            <span class="ratingLabel">Ваша оценка</span>
                            <span class="rating">
                                <span class="fill">
                                    <input type="hidden" name="grade" value="" />
                                </span>
                            </span>
                            <span class="grade"></span>
                            <span class="clear"></span>
                            <textarea name="comment" cols="20" rows="5"></textarea>
                            <div class="clear"></div>
                            <button type="submit">Отправить</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="mainRight">
        {% include "blocks/user-cabinet.html" %}
        <div class="rightBanner">
            {% banner "clinics-right" %}
        </div>
        {% include "blocks/social.html" %}
    </div>
    <div class="clear"></div>
    <div class="banner">{% banner "site-bottom" %}</div>
</div>
{% endblock %}