{% extends "base.html" %}

{% block main %}
<div id="content">
    <div class="contentBlock dayPhoto">
        <div class="headBlock">Фото дня</div>
        <div class="inner">
            <a class="image" href="{{ day_photo.album.url }}">
                <img src="/media/{{ day_photo.image.image2 }}" alt="{{ day_photo.name }}" />
                <span></span>
            </a>
            <div class="author">Автор: <a href="{{ day_photo.album.user.url }}">{{ day_photo.album.user.name }}</a></div>
            <div class="rating"><div class="fill" style="width: 80%"></div></div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="blockSeparator"></div>

    {% if member %}
    <div class="cabinet">
        <div class="inner">
            <div class="name">{{ member.name }}</div>
            <form action="" method="" class="avatar" enctype="multipart/form-data">
                <img src="/media/img/no_avatar.jpg" alt="" />
                <input type="file" name="avatar" />
            </form>
            <ul class="userMenu">
                <!--
                <li><a href="/account/profile/">Мой профиль</a></li>
                <li><a href="/account/messages/">Сообщения <span>12</span></a></li>
                <li><a href="/account/friends/">Друзья</a></li>
                -->
                <li><a href="/announcements/my/">Мои объявления</a></li>
                <li><a href="/questions/my/">Мои вопросы</a></li>
                <li><a href="/account/settings/">Мои настройки</a></li>
                <li><a href="/account/logout/">Выход</a></li>
            </ul>
            <div class"clear"></div>
        </div>
    </div>
    {% else %}
    <div class="noReg cabinet">
        <div class="inner">
            <div class="head">Что такое PetsNet?</div>
            <span>В Великобритании на днях запустили первую социальную сеть - сайт знакомств для собак. Разумеется, он ориентирован на владельцев дорогих, элитных животных.</span>
            <ul>
                <li>Информация о клиниках и аптеках</li>
                <li>Поиск партнеров</li>
                <li>Выставки и награды</li>
                <li>Бла бла бла</li>
                <li>И ещё что то вкусное</li>
            </ul>
            <a class="registration" href="/account/register/"></a>
        </div>
    </div>
    {% endif %}

    <div class="clear"></div>

    <div class="contentBlock board">
        <div class="headBlock">
                {{ _('announcements') }}
            <div style="width: 329px;"><a href="/announcements/" class="section-link">{{ _('goto-section') }}</a></div>
            <div class="clear"></div>
        </div>
        <div class="inner">
            <div class="cats tabs">
                <a class="active" href="/announcements/?type=sale" rel="#sale">{{ _('announcements-sale') }}</a>
                <a href="/announcements/?type=buy" rel="#buy">{{ _('announcements-buy') }}</a>
                <a href="/announcements/?type=coupling" rel="#coupling">{{ _('announcements-coupling') }}</a>
                <a href="/announcements/?type=take-free" rel="#take-free">{{ _('announcements-take-free') }}</a>
                <a href="/announcements/?type=give-free" rel="#give-free">{{ _('announcements-give-free') }}</a>
                <a class="last" href="/announcements/?type=other" rel="#other">{{ _('announcements-other') }}</a>
            </div>
            <div class="tabsContent show" id="sale">
                {% for item in announcements_sale %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ item.type_name }} {{ item.title }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="price">{{ item.price }} грн</span>
                        </span>
                        <span class="date">
                                Воскресенье<br />15 апрель 2012,
                            <span class="city">Киев</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="toFav" href="#">В избранное</a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="buy">
                {% for item in announcements_buy %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ item.type_name }} {{ item.title }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="price">{{ item.price }} грн</span>
                        </span>
                        <span class="date">
                                Воскресенье<br />15 апрель 2012,
                            <span class="city">Киев</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="toFav" href="#">В избранное</a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="coupling">
                {% for item in announcements_coupling %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ item.type_name }} {{ item.title }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="price">{{ item.price }} грн</span>
                        </span>
                        <span class="date">
                                Воскресенье<br />15 апрель 2012,
                            <span class="city">Киев</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="toFav" href="#">В избранное</a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="take-free">
                {% for item in announcements_take_free %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ item.type_name }} {{ item.title }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="price">{{ item.price }} грн</span>
                        </span>
                        <span class="date">
                                Воскресенье<br />15 апрель 2012,
                            <span class="city">Киев</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="toFav" href="#">В избранное</a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="give-free">
                {% for item in announcements_give_free %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ item.type_name }} {{ item.title }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="price">{{ item.price }} грн</span>
                        </span>
                        <span class="date">
                                Воскресенье<br />15 апрель 2012,
                            <span class="city">Киев</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="toFav" href="#">В избранное</a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="other">
                {% for item in announcements_other %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ item.type_name }} {{ item.title }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="price">{{ item.price }} грн</span>
                        </span>
                        <span class="date">
                                Воскресенье<br />15 апрель 2012,
                            <span class="city">Киев</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="toFav" href="#">В избранное</a>
                </div>
                {% endfor %}
            </div>
            <center>
                <a class="bottomButton" href="/announcements/add/">
                    <span class="text">{{ _('announcement-add') }}</span>
                    <span class="icon"></span>
                </a>
            </center>
        </div>
    </div>

    <div class="blockSeparator"></div>

    <div class="contentBlock clinic">
        <div class="headBlock">
				{{ _('catalog') }}
            <div style="width: 368px;"><a href="/clinics/" class="section-link">{{ _('goto-section') }}</a></div>
            <div class="clear"></div>
        </div>
        <div class="inner">
            <div class="cats tabs">
                <a class="active" href="/clinics/" rel="#clinics">{{ _('clinics') }}</a>
                <a href="/nurseries/" rel="#nurseries">{{ _('nurseries') }}</a>
                <a class="last" href="/pharmacies/" rel="#pharmacies">{{ _('pharmacies') }}</a>
            </div>
            <div class="tabsContent show" id="clinics">
                <a class="toSearch" href="/clinics/">{{ _('search-by-params') }}</a>
                {% for item in clinics %}
                <div class="preview {% if forloop.last %}lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ _('clinic') }} {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.name }}</span>
                            <span class="city">{{ item.region }}</span>
                            <span class="address">{{ item.region }} {{ item.address }}</span>
                            <span class="list">
                                {% for service in item.services.all %}
                                <span>{{ service }}</span>
                                {% endfor %}
                            </span>
                            <span class="list">
                                <span>Пн-Пт {{ item.working_hours }}</span>
                                <span>Сб {{ item.working_hours_sartuday }}</span>
                                <span>Вс {{ item.working_hours_sanday }}</span>
                            </span>
                            <span class="list lastList">
                                {% for phone in item.phones_list %}<span>{{ phone }}</span>{% endfor %}
                            </span>
                            <span class="clear"></span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="nurseries">
                <a class="toSearch" href="/nurseries/">{{ _('search-by-params') }}</a>
                {% for item in nurseries %}
                <div class="preview {% if forloop.last %}lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ _('nursery') }} {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.name }}</span>
                            <span class="city">{{ item.region }}</span>
                            <span class="address">{{ item.region }} {{ item.address }}</span>
                            <span class="list">
                                {% for service in item.breeds.all %}
                                <span>{{ service }}</span>
                                {% endfor %}
                            </span>
                            <span class="list">
                                {% for service in item.services.all %}
                                <span>{{ service }}</span>
                                {% endfor %}
                            </span>
                            <span class="list lastList">
                                {% for phone in item.phones_list %}<span>{{ phone }}</span>{% endfor %}
                            </span>
                            <span class="clear"></span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent" id="pharmacies">
                <a class="toSearch" href="/pharmacies/">{{ _('search-by-params') }}</a>
                {% for item in pharmacies %}
                <div class="preview {% if forloop.last %}lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="{{ _('pharmacy') }} {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.name }}</span>
                            <span class="city">{{ item.region }}</span>
                            <span class="address">{{ item.region }} {{ item.address }}</span>
                            <span class="list">
                                <span>Пн-Пт {{ item.working_hours }}</span>
                                <span>Сб {% if item.working_hours_sartuday %}{{ item.working_hours_sartuday }}{% else %}{{ _('not-working') }}{% endif %}</span>
                                <span>Вс {% if item.working_hours_sanday %}{{ item.working_hours_sanday }}{% else %}{{ _('not-working') }}{% endif %}</span>
                            </span>
                            <span class="list lastList">
                                {% for phone in item.phones_list %}<span>{{ phone }}</span>{% endfor %}
                            </span>
                            <span class="clear"></span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <center>
                <a class="bottomButton" href="/pharmacies/?region=2811">
                    <span class="text">Киев - Ещё аптеки</span>
                    <span class="icon"></span>
                </a>
            </center>
        </div>
    </div>

    <div class="clear"></div>

    <div class="contentBlock interesting">
        <div class="headBlock">
				События
            <div style="width: 330px;"><a href="/news/" class="section-link">{{ _('goto-section') }}</a></div>
            <div class="clear"></div>
        </div>
        <div class="inner">
            <div class="cats tabs">
                <a class="active" href="/exhibitions/" rel="#exhibitions">{{ _('exhibitions') }}</a>
                <a class="last" href="/meetings/" rel="#meetings">{{ _('meetings') }}</a>
            </div>
            <div class="tabsContent" id="meetings">
                {% for item in meetings %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="Встреча {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}<span>15 апреля 2012</span></span>
                            <span class="prewText">{{ item.description|safe }}<span></span></span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent show" id="exhibitions">
                {% for item in exhibitions %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="Выставка {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.name }}</span>
                            <span class="row address">{{ item.address }}, {{ item.begin_date }}</span>
                            <span class="row phone">{{ item.phones }}</span>
                            <span class="prewText">{{ item.about|safe }}</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="blockSeparator"></div>

    <div class="contentBlock interesting">
         <div class="headBlock">
                Интересное
            <div style="width: 330px;"><a href="/news/" class="section-link">{{ _('goto-section') }}</a></div>
            <div class="clear"></div>
        </div>
        <div class="inner">
            <div class="cats tabs">
                <a href="/news/" rel="#news">{{ _('news-list') }}</a>
                <a class="active last" href="/articles/" rel="#articles">{{ _('articles') }}</a>
            </div>
            <div class="tabsContent" id="news">
                {% for item in news %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="Новость {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}<span>{{ item.created }}</span></span>
                            <span class="prewText">{{ item.description|safe }}<span></span></span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="tabsContent show" id="articles">
                {% for item in articles %}
                <div class="preview{% if forloop.last %} lastPreview{% endif %}">
                    <a class="link" href="{{ item.url }}">
                        <img class="image" src="/media/{% if item.image %}{{ item.image }}{% else %}no-photo.png{% endif %}" alt="Статья {{ item.name }}" />
                        <span class="info">
                            <span class="name">{{ item.title }}</span>
                            <span class="prewText">{{ item.description|safe }}</span>
                        </span>
                        <span class="clear"></span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clear"></div>
    {% banner "site-bottom" %}
</div>
{% endblock %}