{% extends "base.html" %}

{% block title %}{{ _('announcements') }} &mdash; PetsNet - Сообщество владельцев домашних животных{% endblock %}

{% block main %}
<div class="navigation">
    <div class="navigationBorder">
        <div class="navigationInner">
            <a href="/">Главная</a>
            <span>Объявления</span>
        </div>
    </div>
</div>
<div id="content">
    <div id="mainLeft">
        <div class="contentBlock">
            <div class="headBlock">{{ _('my-announcements') }}</div>
            <div class="inner">
                <div class="cats">
                    <span>Сортировать:</span>
                    <a{% if filter.order_by == 'rating' %} class="active"{% endif %} href="?{{ url }}&sort=rating">По рейтингу</a>
                    <a{% if filter.order_by == 'name' %} class="active"{% endif %} href="?{{ url }}&sort=name">По имени</a>
                </div>
                {% for item in object_list %}
                <div class="preview items-list announcements{% if forloop.last %} lastPreview{% endif %}">
                    <div class="link" href="{{ item.url }}">
                        {% if item.images_list %}<img class="image" src="/static/{{ item.image }}" alt="{{ item.title }}" />{% endif %}
                        <div class="middle{% if not item.images_list %} middle-noimage{% endif %}">
                            <a class="name" href="{{ item.url }}">{{ item.title }}</a>
                            {% if item.is_top %}<img align="top" src="/static/img/best_clinic.png" alt="{{ _('best') }}" />{% endif %}
                            {% if item.is_sale %}<img align="top" src="/static/img/sales_system.png" alt="{{ _('sale') }}" />{% endif %}
                            <div class="clear"></div>
                            <div class="address">{{ item.region }}, {{ item.address }}</div>
                            <div class="clear"></div>
                            <p>{{ item.description|safe }}
                            <div class="clear"></div>
                            {% if member %}
                                <a href="/announcements/edit/{{ item.id }}/" class="user-action edit">{{ _('edit') }}</a>
                                <a href="/announcements/delete/{{ item.id }}/" class="user-action delete">{{ _('delete') }}</a>
                            {% endif %}
                        </div>
                        <div class="right">
                            <ul>
                                <li class="price">{{ item.price }}</li>
                                {% if item.category %}<li><a href="?category={{ item.category.id }}">{{ item.category.name }}</a></li>{% endif %}
                                {% if item.type %}<li><a href="/announcements/{{ item.type }}/">{{ item.type_name }}</a></li>{% endif %}
                                {% if item.phone %}<li>{{ item.phone }}</li>{% endif %}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                {% endfor %}
                {% if is_paginated %}{% include "blocks/paginator.html" %}{% endif %}
            </div>
        </div>
    </div>
    <div id="mainRight">
        {% include "blocks/user-cabinet.html" %}
        <div class="rightBanner">
            {% banner "clinics-right" %}
        </div>
        {% include "blocks/social.html" %}
    </div>
    <div class="clear"></div>
    <div class="banner">{% banner "site-bottom" %}</div>
</div>
{% endblock %}

{% block popup %}
<div id="popup">
	<div id="popupInner">
		<div class="close"></div>
    	<div id="choiceServices">
			<div class="column">
                {% for service in all_services %}
				<div class="check">
					<span class="checkbox">
						<input type="checkbox" value="{{ service.id }}" name="service">
					</span>
					<i class="checkLabel">{{ service.name }}</i>
					<div class="clear"></div>
				</div>
                {% if forloop.counter|divisibleby:12 %}</div><div class="column">{% endif %}
                {% endfor %}
			</div>
			<div class="clear"></div>
			<a href="#"><span>Выбрать услуги</span></a>
		</div>
	</div>
</div>
{% endblock %}